<p id="notice"><%= notice %></p>

<h1>Photos</h1>


<%= link_to 'Add Photo', new_photo_path %>

<table class="table">
  <thead>
    <tr>
      <th>Image data</th>
      <th>User</th>
      <th>Caption</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td>
          <img src="<%= photo.image_url %>">
        </td>
        <td><%= photo.user_id %></td>
        <td><%= photo.caption %></td>
        <td>
          <%= link_to like_photo_path(photo), method: :put do %>
            Upvote
            <%= photo.get_upvotes.size %>
            <% end %>

          <%= link_to dislike_photo_path(photo), method: :put do %>
            Downvote
            <%= photo.get_downvotes.size %>
            <% end %>
          </td>
        <td><%= link_to 'Show', photo %></td>
        <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
        <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
