<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <ul class="hmenu">


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <%= render 'home/registration_items'%>
    <%= render 'home/login_items'%>
    <%= render 'home/search'%>
  </ul>
    <div class= "container" >

    <!-- to make it not edgy -->
  <%= yield %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  </body>
</html>
